<div class="modal-body">
    <div class="container" (submit)="salvarForm()">
        <form [formGroup]="formLancamento" class="row">
            <div class="form-group col-md-6">
                <label>Valor Lançamento: </label>
                <input type="number" class="form-control" formControlName="valor">
                <app-vmessage text="Valor Lancamento é obrigatório" *ngIf="formLancamento.get('valor')?.errors?.['required'] && (formLancamento.get('valor')?.dirty || formLancamento.get('valor')?.touched)"></app-vmessage>
                <app-vmessage text="Valor Lancamento deve ser maior que 0" *ngIf="formLancamento.get('valor')?.errors?.['valoresPositivos']"></app-vmessage>
            </div>

            <div class="form-group col-md-6">
                <div class="form-check">
                    <input class="form-check-input" [value]="0" type="radio" formControlName="tipo">
                    <label class="form-check-label">
                        Debito
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" [value]="1" type="radio" formControlName="tipo">
                    <label class="form-check-label">
                        Credito
                    </label>
                  </div>
            </div>

            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>